doctype html
head
  title Тестовое задание
  meta(charset="utf-8")
  link(rel="stylesheet", href="css/tourindex.css")
body
  .filters
    p Фильтры
  .table-info
    table
      tr
        th Вылеты
        th Ночи
        th Отель
        th 
        th
        th Стоимость
        th Бронирование
        th
      tr
        td 
          div.sr-departure
            span.sr-departure--date 23 августа, 
            span.sr-departure--day Вс -
          div.sr-arrival
            span.sr-arrival--date 30 августа, 
            span.sr-arrival--day Вс
          div авиа
          div 
            span Экон 
            span Бизн
          a Авиаперелет
        td 
          a 7 нч
          span Отель
        td
          a Luna Sharm Hotel 3*
          p Шарм-Эль-Шейх / Рас Ум Эль Сид
            // Standard - посмотреть все типы номеров
            // ROH: без опред. вида из номера
            // Питание BB: завтрак
            // Сравнить отель
        td 
          span 3.62
          span 55%
        td
          span 512 $ ~ 33 434 р.
          span Топливный сбор — 40 $
          a все цены отеля
        td
          a online
        td
          a Узнать оператора
          a Бронировать
        td
          span 1
          span 2
          span 3